head
    meta(charset="utf-8")
    link(rel="shortcut icon", href="/favicon.ico")
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    title #{title}
    link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" )
    link(rel="stylesheet" href="/styles/style.css")
    script(defer src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.22.0/axios.min.js')
    script(defer src='/scripts/main.js')


